.categories_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories {
    display: grid;
    grid-template-areas: 
    "card card card"
    "card card card"
    "card card card";
    gap: 20px;
    width: auto;
    padding: 20px;
    background-color: #070606;
    border-radius: 7px ;
}

.category_card {
    width: 240px;
    grid-area: card ;
    background-color: #070606;
    border: 2px solid #413D3D;
    border-radius: 7px;
}

.category_card span {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 10px;
}